

$border-color: transparent;
$border-style: solid;



.cart-container{
    height:76vh;
    width:96%;
    margin:2%
}

.cart-header{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 5%;
}

.cart-info{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.check-out{
    width:26%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    margin:2%;
}

.instructions-container{
    height: 50%;
    width:100%
}

.instructions-form{
    width:100%;
    height: 100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
}

.cart-items-container{
    height:100%;
    overflow:scroll;
    margin-top:2%;
    width:64%
}

.cart-cell{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 98%;
    box-shadow: 0px 0px 20px -5px #b8aaaa;
    margin:2% 0% 1% 0%;
    transition: 1s; 
}

.cartitems{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.cartitem-desc{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}

.cartitem-desc > div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-interactive{
    width:20%;
    height:100%;
    padding:10px;
}

.cartitemimg{
    height: 98%;
    width: 150px;
    border-radius: 20px;
    padding:10px
}

.rating{
    display:flex;
    justify-content: flex-end;
}

.instructions-box{
    height: 60%;
    width:100%;
    margin-bottom:2%;
    padding:15% 5% 10% 5%;
}

.update-btn{
    width:100%;
}