

$border-color: transparent;
$border-style: solid;

.cartitems{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    height: 150px;
    width: 96%;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px;
    transition: 1s; 
    border: $border-color;
    border-style: $border-style;
}

.cartitemimg{
    height: 98%;
    width: 150px;
    border: $border-color;
    border-style: $border-style;
}