

$border-color: transparent;
$border-style: solid;

.cart{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    height: 150px;
    width: 96%;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px;
    transition: 1s; 
    border: $border-color;
    border-style: $border-style;
}
.cartitems{
    width:85%;
    display:flex;
    justify-content: space-between;
}

.cartitem-desc{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartitemimg{
    height: 98%;
    width: 150px;
    border: $border-color;
    border-style: $border-style;
}

.review-form{
    width:50%;
}

.review-box{
    height: 75%;
}

.reviewbtn{
    height: 15%;
}