
$border-color: transparent;
$border-style: solid;
$font: 'Montserrat', sans-serif;
$font-style: italic;

.chef-card{
    height:60%;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px;
    transition: 1s; 
    display: flex;
    justify-content: center;
    margin:5% 0% 5% 0%;
}

.chef-card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    border: $border-color;
    border-style: $border-style;
}


.chefimg{
    height: 250px;
    width: 100%;
    border: $border-color;
    border-style: $border-style;
}

.chefheader{
    display:flex;
    justify-content: space-around;

}
.chefname{
    width: 80%;
    padding-left:5%;
    font-family: $font;
    // border: $border-color;
    // border-style: $border-style;
    // background-color: rgb(167, 247, 247);
}
.cheflike{
    width: 20%;
    display: flex;
    justify-content: center;

}

.cheflink{
    width: 100%;
    border: $border-color;
    border-style: $border-style;
    background-color: rgb(230, 195, 131);
}
.chefquote{
    height: 65px;
    width: 100%;
    border: $border-color;
    border-style: $border-style;
}
