
$border-color: transparent;
$border-style: solid;
$font: 'Montserrat', sans-serif;
$font-style: italic;

.chefcontainer{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chef-index{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
}

.chef-carousel{
    height: 100%;
    border: $border-color;
    border-style: $border-style;
}

.randomizer-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 10%;
    align-items: center;
}

.randomizer-btn{    
    color:white;
    font-size:20px;
    height:100%;
}