.chef-items{
    height:80vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2% 5% 2% 5%;
}


.chef-header{
    width:40%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
    align-items: center;
}

.chef-portrait{
    width:250px;
    height:250px;
    border-radius: 50px;
    margin: 3% 0% 3% 0%;

}

.chef-info{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.chef-quote{
    text-align: center;
}

.chefs-items-list{
    width: 47%;
    margin-top: 2%;
    margin-left: 10%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;

}

.chefs-item{
    display:flex;
    margin: 3% 0% 1% 0%;
}

.chef-item-header{
    flex-wrap:wrap;
    width:120px;
    
}

.item-img{
    width:100px;
    height:100px;
    border-radius: 20px;
}

.chef-item-content{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    margin-left:1%;
    overflow: auto;
}

.chef-checkout{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.item-btn{
    font: bold 10px Arial;
    text-decoration: none;
    background-color: #88bbc7;
    // color: white;
    width:100px;
    height: 100%;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
    color:white;
    font-size:12px;
}