$border-color: transparent;
$border-style: solid;

.itemspage{
    height:86vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.searchbar{
    height: 30px;
    width: 300px;
    font-size: 18pt;
    margin-left:5%;
    margin-top: 2%;
    border-radius: 5%;
}
.items-container{
    height: 85%;
    width:98%;
    margin: 2% 2% 2% 2%;
    overflow:auto;
    padding:12px 0px 10px 0px;
    // float: left;
    // overflow: auto;
}

.item-card{
    width:300px;
    height:400px;
    float: left;
    margin: 0% 2% 1% 3%;
}