
$border-color: transparent;
$border-style: solid;
$font: 'Montserrat', sans-serif;
$font-style: italic;

.header{
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a2b4;
    opacity: 75%;
}

.logo{
    width: 60px;
    height: 60px;
    justify-content: flex-start;
    margin-left:6%;
}

.header-content{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width:60%;
    margin-right:6%;
}


.portfolio{
    height:100%;
    width:12%;
    // background-color: red;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.github{
    width:45px;
    height:45px;
    background-image: image_url("github_logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:white;
    border-radius: 5px;
}
.linkedin{
    width:47px;
    height:48px;
    background-image: image_url("linkedin_logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:10%;
    border-radius: 5px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin-left:2%;
}

.navlinks {
    list-style: none;
    text-decoration: none;
}

li, a {
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 23px;
    
}

.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left:2%;
}

.signup{
    padding: 5px;
}

button{
    padding: 9px 25px;
    background-color: #88bbc7;
    border:none;
    border-radius: 50px;
    cursor: pointer;
}

.btns{
    font: bold 23px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
}
.btnl{
    font: bold 23px Arial;
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
}

.welcome-text{
    font-family: $font;
    align-items: center;
}

.logout{
    height:30px;
    width:100%;
    text-align: center;
}