
.session{
    height:88vh;
    width:100%;
    display:flex;
    justify-content: center;
}
.session-container{
    width:25%;
    height:50%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15%
}

.session-header{
    height:20%;
    text-align: center;
}

.session-form{
    height: 70%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.session-btn-container{
    margin-top: 5%;
    width:100%;
    display:flex;
    justify-content:space-evenly;
}

.session-input{
    height:25px;
    padding-left:5%;
    margin-bottom:1%;
    vertical-align: middle;
}

.session-login-btn{
    width:45%;
    color:white;
    font-size: 15px;
}
.session-signup-btn{
    width:100%;
    color:white;
    font-size: 15px
}