
.session{
    height:70vh;
    width:100%;
    display:flex;
    justify-content: center;
}
.session-container{
    width:250px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    
}
.session-header{
    margin: 5%;
}

.session-form{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

input {
    height: 30px;
    width: 100%;
    margin: 2px;
    padding: 5px;
}